body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.above-the-fold {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding-bottom: 70px;


}

/************ Header *************/

header {
  display: flex;
  background-color: #1F2937;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  width: 70%;
  margin: auto;
}

header h2 {
  font-size: 24px;
  color: #F9FAF8;
  margin: 0;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
}

a, .hero-info {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

/************ Hero *************/

button {
  padding: 8px 20px;
  background-color: #3882F6;
  border-width: 0px;
  border-radius: 4px;
  color: white;
  display: block;
}

section.hero {
  background-color: #1F2937;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 35px;
  width: 70%;
  margin: auto;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.hero-info h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin: 0;
  max-width: 300px;
}

.hero p {
  margin: 0;
  padding: 0;
  max-width: 300px;

}

.hero-info h2 {
  font-size: 18px;
}

.hero img {
  object-fit: cover;
  min-width: 300px;
  max-width: 450px;
  max-height: 400px;
  flex: auto;

}

/***** Information *******/

.information h1 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  padding: 0;
  margin: 35px 0;
  text-align: center;
}

section.information {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
}

.information .container {
  display: flex;
  justify-content: center;
  gap: 45px;
}

.card img{
  border: 4px solid #1F2937;
  max-width: 120px;
  border-radius: 18px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.card p {
  text-align: center;
  color: #65676B;
  max-width: 120px;
  margin: 0;
  padding: 0;
}

/******* Quote *******/

section.quote {
  background-color: #E5E7EB;
  color: #1F2937;
  font-style: italic;
  font-size: 26px;
  display: flex;
  justify-content: center;
  padding-top:
}

section p {
  max-width: 590px;
  padding-top: 70px;
  margin: 0;
  padding-bottom: 46px;


}

section strong {
  display: block;
  font-style: normal;
  color: #1F2937;
  font-size: 20px;
  text-align: right;
}
